{% extends 'base.html.twig' %}

{% block title %}Événement créé{% endblock %}

{% block body %}
    <div class="success">
        <h1>Votre évènement a été créé avec succès !</h1>
        <p>Vous pouvez maintenant voir votre artiste dans la liste.</p>
        <a href="{{ path('app_home') }}">Retour à la page d'accueil</a>
    </div>
{% endblock %}